@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Mono:wght@100&display=swap');

:root {
  --color-standard: rgb(67, 191, 212);
  --font: 'Lora', serif;
}


* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--color-standard);
}

.container {
  background-color: rgba(255, 255, 255, 0.842);
  margin: 150px auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;


  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.315);
}

.container > h1 {
  font-family: var(--font);
  font-size: 3em;
}

.gerar {
  border: none;
  border-radius: 5px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.418);
  color: white;

  padding: 10px;
  margin: 20px;


}

.gerar:hover {
  background-color: rgb(0, 0, 0);
}

.gerar:active {
  background-color: rgb(8, 38, 48);
}

.cpf-gerado {
  color: rgb(27, 27, 27);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.226);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;

  margin: 10px;
  padding: 10px;
  
}

