@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

:root {
    --background: rgb(10, 73, 109);
    --font: 'Roboto Mono', monospace;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    background-color: var(--background);
    color: white;
    height: 96vh;
}

main {
    position: absolute;
    padding: 60px;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.253);
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.322);
    border: 1px solid black;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}

main:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.39);
}

main > h1, main > p {
    padding: 20px;
    font-family: var(--font);
    font-size: 3em;
    font-weight: 800;
}

main > input {
    padding: 5px 10px;
    min-width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

main > button {
    background-color: rgb(46, 127, 165);
    color: white;
    margin: 30px 0px 2px 0px;
    width: 100px;
    height: 50px;

    border-radius: 10px;
    box-shadow: inset 0px 0px 24px rgba(0, 0, 0, 0.418);
    border: 1px solid black;

    cursor: pointer;

    font-size: 1.6em;

}

main > button:hover {
    background-color: rgba(46, 147, 165, 0.973);
}

main > button:active {
    background-color: rgb(3, 27, 71);
}

main > button {
    background-color: rgb(31, 76, 97);
}

